/*coding by Friso NL frisog - at gmail.com - css for project Learning Javascript 001*/

* {
    font-family: arial;
}
p {
    font-size: large;
}
.red {
    color: red;
}
.hide {
    display: none;
}
img {
    height: 100px;
    width: 100px;
}
li input {
    display: none;
}
li.edit span {
    display: none;
}
li.edit input {
    display: initial;
}
